.conteudo{
    margin-left: 400px;
    margin-top: -210px;
    background-color: firebrick;
    text-decoration-color: aquamarine;
    border-radius: 50px;
    text-align: justify;
    padding: 20px;
    float: right;
    color: cornsilk;
    font-size: 20px;
}
body{
    background-color: darksalmon;
}
.cabecalho{
    background: firebrick;
    border: solid 5px firebrick;
    border-radius: 50px;
}
img{
    width: 300px;
    border-radius: 20px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul{
    margin: 0;
    background-color: firebrick;
    border-radius: 50px;
    list-style: none;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
li{
    display: inline;
}
a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 30px;

}
a:hover{
    color: indianred;
}
#cornao{
    border-radius: 50px;
    float: left;
    margin-top: 100px;
    margin-left: 50px;

}









